---
import Logo from "@assets/logo.png";
import Layout from "@layouts/Layout.astro";
---

<Layout
    title="404 | Not found"
    description="Hello! I'm NaviTheCoderboi, a developer from India. Welcome to my portfolio! you can read about me here and my blogs too"
    icon={Logo.src}
    canonical={import.meta.env.SITE}
    themeColor="#7828c8"
    url={import.meta.env.SITE}
    locale="en"
>
    <div class="h-screen w-full px-8 flex items-center justify-center">
        <div class="mt-16 text-center">
            <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
                404
            </h1>
            <p class="text-lg mt-4 text-zinc-300">Page not found.</p>
        </div>
    </div>
</Layout>
