---
import SectionHeader from "@components/SectionHeader.astro";
import TechCarousel from "./Techs.astro";

const technologies = [
    ["Javascript", "Sveltekit", "Astro.js", "TailwindCSS", "Framer motion"],
    ["Typescript", "Bun", "Python", "Fastapi", "Vite"]
] as const;
---

<section class="lg:min-h-screen w-full" id="about">
    <h2
        class="flex flex-col justify-center gap-10 h-full w-6/7 lg:w-3/7 mx-auto pt-[7.4rem] pb-16 h-full"
    >
        <SectionHeader title="About" serial={1} />
        <p
            class="text-lg font-light text-zinc-300"
            data-motion="fade slide"
            data-motion-easing="cubic-bezier(0.25, 0.1, 0.25, 1)"
            data-motion-fade-easing="ease-out"
            data-motion-slide-from-y="-50px"
            data-motion-slide-to-y="0px"
            data-motion-duration="400"
            data-motion-delay="200"
        >
            Allow me to introduce myself. I'm Navinder Singh, a high school
            student from India with big dreams and a passion for both medicine
            and coding. My goal is to become a doctor, but beyond my academic
            pursuits, I find joy and fulfillment in exploring the intricacies of
            programming. From HTML and CSS to JavaScript, Svelte, React, and
            Python, I've immersed myself in various languages, each offering its
            own unique challenges and rewards.
        </p>
        <p
            class="text-lg font-light text-zinc-300 w-full -mt-5"
            data-motion="fade slide"
            data-motion-easing="cubic-bezier(0.25, 0.1, 0.25, 1)"
            data-motion-fade-easing="ease-out"
            data-motion-slide-from-y="-50px"
            data-motion-slide-to-y="0px"
            data-motion-duration="400"
            data-motion-delay="200"
        >
            Here are a few technologies I've been working with recently :
        </p>
        <div class="flex gap-10 text-lg font-light text-zinc-300 -mt-7">
            {
                technologies.map((e) => {
                    return (
                        <ul class="flex flex-col gap-4">
                            {e.map((tech, i) => (
                                <li
                                    class="flex items-center gap-2"
                                    data-motion="fade slide"
                                    data-motion-easing="cubic-bezier(0.25, 0.1, 0.25, 1)"
                                    data-motion-fade-easing="ease-out"
                                    data-motion-slide-from-x="-50px"
                                    data-motion-slide-to-x="0px"
                                    data-motion-duration="400"
                                    data-motion-delay={200 + i * 100}
                                    data-motion-threshhold="0.4"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-3 w-3 text-accent-500"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                    {tech}
                                </li>
                            ))}
                        </ul>
                    );
                })
            }
        </div>
    </h2>
    <TechCarousel />
</section>
