---
import Github from "@assets/icons/Github.astro";
import Logo from "@assets/logo.png";
import { Image } from "astro:assets";
import Sidebar from "./Sidebar.astro";

const links = {
    Home: "/#hero__canvas",
    About: "/#about",
    Projects: "/#projects",
    Blog: "/blog"
} as const;
---

<nav class="w-full lg:px-6 lg:py-3 sticky lg:fixed top-0 left-0 z-50">
    <div
        class="mx-auto w-full lg:w-3/5 h-full grid place-content-between grid-rows-1 grid-cols-2 lg:grid-cols-3 px-7 md:px-10 py-4 lg:rounded-full backdrop-filter backdrop-blur-sm bg-zinc-800/30"
    >
        <a href="/">
            <Image
                src={Logo}
                alt="navithecoderboi"
                loading="eager"
                width={50}
                height={60}
            />
        </a>
        <ul class="lg:flex justify-center items-center gap-2 hidden">
            {
                Object.entries(links).map(([k, v]) => (
                    <li class="group relative text-lg font-semibold text-zinc-400 hover:text-zinc-300 duration-300 rounded-full px-4 py-2">
                        <a href={v}>{k}</a>
                        <div class="scale-x-0 group-hover:scale-x-100 absolute inset-x-0 w-full mx-auto -bottom-px bg-gradient-to-r from-transparent via-secondary-500 to-transparent h-px duration-300" />
                    </li>
                ))
            }
        </ul>
        <a
            href="https://github.com/navithecoderboi"
            class="lg:flex items-center justify-end hidden"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github Profile Link"
        >
            <Github
                class="size-10 text-zinc-400 hover:text-zinc-200 duration-300"
            />
        </a>
        <Sidebar />
    </div>
</nav>

<style scoped>
    nav {
        animation: drop 0.5s 0.2s ease;
    }

    @keyframes drop {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
</style>
