---
import "@styles/globals.css";
import "@fontsource-variable/inter";
import Navbar from "@components/Navbar.astro";
import { ViewTransitions, fade } from "astro:transitions";
import SEO from "@components/SEO.astro";

interface Props extends SEOProps {}

const { ...rest } = Astro.props;
---

<html lang="en">
    <head>
        <ViewTransitions />
        <SEO {...rest} />
    </head>
    <body transition:animate={fade({ duration: "0.5s" })}>
        <Navbar />
        <slot />
        <script src="../lib/motion.ts"></script>
    </body>
</html>
