---
import "@styles/globals.css";
import "@fontsource-variable/inter";
import Navbar from "@components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import SEO from "@components/SEO.astro";
import Footer from "@components/Footer.astro";
import type { TransitionAnimationPair } from "astro";

interface Props extends SEOProps {}

const { ...rest } = Astro.props;

const anim: TransitionAnimationPair = {
    old: {
        name: "stackBack",
        duration: "0.3s",
        easing: "ease-in",
        fillMode: "forwards"
    },
    new: {
        name: "stackFront",
        duration: "0.3s",
        delay: "0.3s",
        easing: "ease-out",
        fillMode: "backwards"
    }
};

const transition = {
    forwards: anim,
    backwards: anim
};
---

<html lang="en">
    <head>
        <ViewTransitions />
        <SEO {...rest} />
    </head>
    <body
        transition:animate={transition}
        transition:name="body"
        class="h-full transform-3d perspective-midrange"
    >
        <Navbar />
        <slot />
        <Footer />
        <script src="../lib/motion.ts"></script>
        <style>
            @keyframes stackBack {
                from {
                    transform: translateZ(0) translateY(100px);
                    opacity: 1;
                }
                to {
                    transform: translateZ(-800px) translateY(0px);
                    opacity: 0;
                }
            }

            @keyframes stackFront {
                from {
                    transform: translateZ(-800px);
                    opacity: 0;
                }
                to {
                    transform: translateZ(0);
                    opacity: 1;
                }
            }
        </style>
    </body>
</html>
